<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [disabled]="disableBackButton"></ion-back-button>
    </ion-buttons>
    <ion-title>Run</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="timer">
    <p>{{time.toISOString().substr(11, 8)}}</p>
  </div>

  <div class="calories">
    <p>{{this.newWorkout.calories}}</p>
  </div>

  <ion-fab-button class="stop" [disabled]="disableStopButton" (click)="stopActivity()">Stop</ion-fab-button>
  <ion-fab-button class="pause" [disabled]="disablePauseButton" (click)="pauseTimer()">Pause</ion-fab-button>
  <ion-fab-button class="start" (click)="startTimer()" [disabled]="disableStartButton">Start</ion-fab-button>

</ion-content>
