.run {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.walk {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.bike {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
