<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>Run:</ion-text>
  <ion-button class="run" routerLink="/run" shape="round" expand="block">Run</ion-button>
  <ion-text>Walk:</ion-text>
  <ion-button class="walk" routerLink="/walk" shape="round" expand="block">Walk</ion-button>
  <ion-text>Bike:</ion-text>
  <ion-button class="bike" routerLink="/bike" shape="round" expand="block">Bike</ion-button>
</ion-content>
