.run {
  background-image: url('../../../assets/img/run.png');
  background-size: contain;
  --opacity: 0;
  margin-top: 3%;
  margin-left: 30%;
  height: 130px;
  width: 130px;
}

.walk {
  //margin: 10px;
  background-image: url('../../../assets/img/walk.png');
  background-size: contain;
  margin-left: 30%;
  --opacity: 0;
  margin-top: 5%;
  height: 130px;
  width: 130px;
}

.bike {
  //margin: 10px;
  background-image: url('../../../assets/img/bike.png');
  background-size: contain;
  margin-left: 25%;
  margin-top: 3%;
  --opacity: 0;
  height: 160px;
  width: 160px;
}

ion-toolbar{
  --background: #111111;
}
