<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="presentAlert()">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let workout of workouts">
      <ion-item>
        <ion-label text-wrap>
          <h3><ion-icon name="accessibility-outline"></ion-icon> {{workout.sport}}</h3>
          <p><ion-icon name="calendar-outline"></ion-icon> {{workout.dateDatabase}}</p>
          <p><ion-icon name="stopwatch-outline"></ion-icon> {{workout.time}}</p>
          <p><ion-icon name="stats-chart-outline"></ion-icon> {{workout.distance}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteWorkout( workout )">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
