<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="presentAlert()">
        <ion-icon color="danger" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="textIf" *ngIf="workouts === null || workouts.length === 0">
    <ion-label class="ion-text-center">
      No workouts yet
    </ion-label>
  </ion-item>

  <ion-list *ngIf="workouts !== null && workouts.length > 0">

    <ion-item-sliding *ngFor="let workout of workouts">
      <ion-item>
        <ion-label text-wrap>
          <h3><ion-icon name="accessibility-outline"></ion-icon> {{workout.sport}}</h3>
          <p><ion-icon name="calendar-outline"></ion-icon> {{workout.dateDatabase}}</p>
          <p><ion-icon name="stopwatch-outline"></ion-icon> {{workout.time}}</p>
          <p *ngIf="workout.distance !== null" ><ion-icon name="stats-chart-outline"></ion-icon> {{workout.distance}} Km</p>
          <p *ngIf="workout.distance === null" ><ion-icon name="stats-chart-outline"></ion-icon> - Km</p>
          <p *ngIf="workout.distance !== null" ><ion-icon name="speedometer-outline"></ion-icon> {{workout.averageSpeed}} Km/h</p>
          <p *ngIf="workout.distance === null" ><ion-icon name="speedometer-outline"></ion-icon> - Km/h</p>
          <p *ngIf="workout.calories !== null"><ion-icon name="flash-outline"></ion-icon> {{workout.calories}} cal</p>
          <p *ngIf="workout.calories === null"><ion-icon name="flash-outline"></ion-icon> - cal</p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteWorkout( workout )">Delete</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>
