.text1{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text2{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text3{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text4{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.log-out{
  position:absolute;
  left:33%;
  bottom:15px;
}

ion-toolbar{
  --background: #111111;
}
