<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="navigateToHome()">
        <ion-icon color="danger" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="validationFormUser">

    <ion-item lines="full">
      <ion-label position="floating">Gender</ion-label>
      <ion-select formControlName="gender" [value]="user.gender">
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="male">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Age</ion-label>
      <ion-input formControlName="age" [value]="user.age" placeholder="Age (12-95)" type="number"></ion-input>
    </ion-item>

    <div class="text2">
      <ng-container *ngFor="let validation of validationMessages.age">
        <div class="error_message" *ngIf="validationFormUser.get('age').hasError(validation.type) && (validationFormUser.get('age').dirty || validationFormUser.get('age').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Height</ion-label>
      <ion-input formControlName="height" [value]="user.height" placeholder="Height (cm)" type="number"></ion-input>
    </ion-item>

    <div class="text3">
      <ng-container *ngFor="let validation of validationMessages.height">
        <div class="error_message" *ngIf="validationFormUser.get('height').hasError(validation.type) && (validationFormUser.get('height').dirty || validationFormUser.get('height').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Weight</ion-label>
      <ion-input formControlName="weight" [value]="user.weight" placeholder="Weight (Kg)" type="number"></ion-input>
    </ion-item>

    <div class="text4">
      <ng-container *ngFor="let validation of validationMessages.weight">
        <div class="error_message" *ngIf="validationFormUser.get('weight').hasError(validation.type) && (validationFormUser.get('weight').dirty || validationFormUser.get('weight').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="medium" expand="block" (click)="saveData()" [disabled]="!validationFormUser.valid">Save the data</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
