<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>

    <ion-item lines="full">
      <ion-label position="floating">Sex</ion-label>
      <ion-input name="sex" placeholder="Male/Female" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Age</ion-label>
      <ion-input name="age" placeholder="ex. 25" type="number"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Height</ion-label>
      <ion-input name="height" placeholder="ex. 1.75" type="number"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Weight</ion-label>
      <ion-input name="weight" placeholder="ex. 70" type="number"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Save the data</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
