.text1{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text2{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ion-content{
  --background: #111111;
}

ion-toolbar{
  --background: #111111;
}

.container{
  img{
    height: 100px;
    margin-top: 25%;
    margin-bottom: 35%;
  }
}

ion-item{
  --background: #111111;
}
