<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      OutSport
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ValidationFormUser" (ngSubmit)="registerUser(ValidationFormUser.value)" >

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" name="email" placeholder=" example@domain.com" type="text" required>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error_message" *ngIf="ValidationFormUser.get('email').hasError(validation.type) && (ValidationFormUser.get('email').dirty || ValidationFormUser.get('email').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" name="password" placeholder=" ********" type="password" required>
        <ion-icon name="lock-closed" ></ion-icon>
      </ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error_message" *ngIf="ValidationFormUser.get('password').hasError(validation.type) && (ValidationFormUser.get('password').dirty || ValidationFormUser.get('password').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="!ValidationFormUser.valid" type="submit" color="danger" expand="block">Sing-up</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
