<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choose the activities to do
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

Pagina selezione sport

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom,top">

    <ion-tab-button tab="activities">
      <ion-icon name="walk"></ion-icon>
      <ion-label>Sports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar" (click)="goToCalendarPage()"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="person-circle-outline" (click)="goToProfilePage()"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
