.time{
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0px;
}

.timer {
  font-size: 54px;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
}

.calories1{
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0px;

}

.calories2{
  font-size: 54px;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
}

.start {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.pause{
  position:absolute;
  left:40%;
  bottom:15px;
}

.stop{
  position: absolute;
  bottom: 15px;
  right: 15px;
}
