<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="medium" [disabled]="disableBackButton"></ion-back-button>
    </ion-buttons>
    <ion-title>Bike</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <p class="time">Time</p>
    <p class="timer">{{time.toISOString().substr(11, 8)}}</p>
  </div>

  <div *ngIf="user.weight !== null">
    <p class="calories1">Calories</p>
    <p class="calories2">{{this.newWorkout.calories}}</p>
  </div>

  <div *ngIf="user.weight === null">
    <p class="calories1">Calories</p>
    <p class="calories2">-</p>
  </div>

  <ion-fab-button color="medium" class="stop" shape="round" expand="block" fill="outline" [disabled]="disableStopButton" (click)="stopActivity()">Stop</ion-fab-button>
  <ion-fab-button color="medium" class="pause" shape="round" expand="block" fill="outline" [disabled]="disablePauseButton" (click)="pauseTimer()">Pause</ion-fab-button>
  <ion-fab-button color="medium" class="start" shape="round" expand="block" fill="outline" [disabled]="disableStartButton" (click)="startTimer()">Start</ion-fab-button>

</ion-content>
