<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ValidationFormUser" (ngSubmit)="LoginUser(ValidationFormUser.value)">

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder=" example@domain.com" name="email" formControlName="email" type="text" required>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validationUserMessage.email">
        <div class="error_message" *ngIf="ValidationFormUser.get('email').hasError(validation.type) && (ValidationFormUser.get('email').dirty || ValidationFormUser.get('email').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input placeholder=" ********" name="Password" formControlName="password" type="password" required>
        <ion-icon name="lock-closed" ></ion-icon>
      </ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validationUserMessage.password">
        <div class="error_message" *ngIf="ValidationFormUser.get('password').hasError(validation.type) && (ValidationFormUser.get('password').dirty || ValidationFormUser.get('password').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit"  [disabled]="!ValidationFormUser.valid" color="danger" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
