<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OutSport
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OutSport</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button expand="block" color="primary" (click)="registerUser()">Sign-up</ion-button>

        <p align="center">Are you already a user?</p>

        <ion-button expand="block" color="danger" (click)="gotoLoginpage()">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
